apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-flask
  namespace: harness-cv-demo
  labels:
    app: simple-flask
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simple-flask
  template:
    metadata:
      labels:
        app: simple-flask
      annotations:
        # Enable automatic OneAgent injection
        oneagent.dynatrace.com/injected: "true"
    spec:
      containers:
        - name: flask-container
          image: austinthao/flask-app:v2  # updated Dockerfile image
          ports:
            - containerPort: 80
          readinessProbe:
            httpGet:
              path: /
              port: 80
