service: hello
frameworkVersion: '2 || 3'

provider:
  name: aws
  runtime: nodejs22.x
functions:
  hello:
    handler: handler.hello
    events:
      - httpApi:
          path: /hello
          method: get  
